* {
    box-sizing: border-box;
}

body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    background-color: hsl(225, 100%, 94%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    font-family: 'Red Hat Display', sans-serif;
    margin: 0 1rem;
    min-width: 350px;
    max-width: 450px;

}

.center {
    text-align: center;
}

.top-pic {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-self: stretch;
}

.type-price  {
    display: flex;
    background-color:  hsl(225, 100%, 98%);
    align-items: center;
    width: 80%;
    border-radius: 10px;
    margin: auto;
}

.logo {
    margin: 1rem 0 1rem 1rem;
}

.type-price h2, .type-price h4 {
    margin: 0;
    margin-left: 1rem;
}
 
.change {
    margin-left: auto;
    margin-right: 1rem;
    font-weight: 900;
}

.pay-btn {
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border: 0;
    margin: 2rem 1rem 1rem 0;
    font-size: 0.8em;
    width: 100%;
    cursor: pointer;
    
}

.pay-link {
    width: 100%;
}

a {
    color: hsl(245, 75%, 52%); 

}

p {
    width: 70%;
    margin: auto;
    margin-bottom: 1.5rem;
    font-weight: 500;
    color:  hsl(224, 23%, 55%);
}

.price{
    color:  hsl(224, 23%, 55%);
    font-weight: 500;
}

.cancel {
    color:  hsl(224, 23%, 55%);
    font-weight: 700;
    margin-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

.order-sum, .plan {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.pay-cancel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    
    
}

@media (max-width: 410px) {
    .container {
        width: 90%;
    }

    .type-price {
        flex-direction: column;
        align-content: flex-start;
        justify-content: start;
        align-content: flex-start;
        justify-items: start;
        justify-self: start;
        align-items: ;
    }
    
    .logo, .plan, .price {
        margin-left: 0;
    }
    .change  {
        margin: 0;
    }

    .type-price h2, .type-price h4 {
        margin: 0;
        margin-left: 0;
    }
}